body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-phone-break {
        display: none;
    }
}

.section {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $header-item-height;
    flex-basis: 21.6666666666666%;
    flex-grow: 1;
    transition: $transition-time;
    @include tablet-phone-break {
        min-height: 50px;
    }

    &:nth-of-type(1) {
        flex-basis: 35%;
        flex-grow: 1;
        background-color: $quaternary-color;
        &:hover {
            cursor: pointer;
            background-color: darken($quaternary-color, 10%)
        }
        p {
            color: $primary-color;
        }
    }
    &-first{
        background-color: $tertiary-color;
        transition: $transition-time;
        p {
            color: $quaternary-color;
        }
        &:hover {
            cursor: pointer;
            background-color: darken($tertiary-color, 10%);
        }
    }
    &-second{
        background-color: $primary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: lighten($primary-color, 10%);
        }
        p {
            color: $quaternary-color;
        }
    }
    &-third{
        background-color: $secondary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($secondary-color, 10%);
        }
        p {
            color: $quaternary-color;
        }
    }
    p {
        margin: 0;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 20px;
        letter-spacing: 2px;
    }
}