body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $header-item-height;
    &--h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 35%;
        background-color: $quaternary-color;
        text-transform: uppercase;
        min-height: $header-item-height;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($quaternary-color, 10%);
        }
        h1 {
            margin: 0;
            color: $black;
            font-family: $primary-font;
            font-size: 25px;
        }
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $header-item-height;
    flex-basis: 21.6666666666666%;
    flex-grow: 1;
    transition: $transition-time;
    &:nth-of-type(1) {
        flex-basis: 35%;
        flex-grow: 1;
        background-color: $quaternary-color;
        &:hover {
            cursor: pointer;
            background-color: darken($quaternary-color, 10%)
        }
        p {
            color: $primary-color;
        }
    }
    &-first{
        background-color: $tertiary-color;
        transition: $transition-time;
        p {
            color: $primary-color;
        }
        &:hover {
            cursor: pointer;
            background-color: darken($tertiary-color, 10%);
        }
    }
    &-second{
        background-color: $primary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: lighten($primary-color, 10%);
        }
        p {
            color: $quaternary-color;
        }
    }
    &-third{
        background-color: $secondary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($secondary-color, 10%);
        }
    }
    p {
        margin: 0;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 20px;
    }
}