.content {
    display: none;
    position: relative;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:after {
        position: absolute;
        top: 0;
        content: '';
        height: 100vh;
        width: 100vw;
        background-color: rgba($primary-color, 0.7);
    }
    h2 {
        font-family: $primary-font;
        z-index: 200;
        color: $quaternary-color;
        font-size: 22px;
        position: relative;
        &:after {
            bottom: -10px;
            content: '';
            left: 75px;
            height: 2px;
            background-color: $secondary-color;
            position: absolute;
            width: 10%;
        }
    }
    .tagline {
        font-family: $secondary-font;
        color: $quaternary-color;
        z-index: 200;
        font-size: 16px;
    }
}