.project {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    .project--item__link {
        flex-basis: 45%;
        flex-grow: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.background {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &--item {
        box-sizing: border-box;
        border: 2px solid $quaternary-color;
        padding: 10px 10px;
        position: relative;
        z-index: 200;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            .project--item__title {
                color: $secondary-color;
                transition: $transition-time;
            }
        }
        &__title {
            color: $quaternary-color;
            font-family: $primary-font;
            text-transform: uppercase;
            font-size: 20px;
            transition: $transition-time;
        }
        &__description {
            color: $quaternary-color;
            font-family: $secondary-font;
            font-size: 16px;
            margin: 0 20px 20px 20px;
            text-align: center;
        }
    }
}
