$primary-color: #0F1626;
$secondary-color: #AB987A;
$tertiary-color: #FF533D;
$quaternary-color: #F5F5F5;
$black: black;
$primary-font: Sanchez, sans-serif;
$secondary-font: Source Sans Pro, sans-serif;
$header-item-height: 125px;
$transition-time: 0.3s;

//Tablet
$tablet-break: 964px;
$num-tablet-columns: 24;
$columns-tablet-width: 21px;
$margin-tablet-width: 8px;
$min-tablet-break: 768px;
//Phone
$nav-break: 767px;
$phone-break: 480px;
$phone-landscape-width: 90%;
$margin-phone-width: 20px;

$phone-portrait-width: 90%;

@mixin break-smaller ($break-point) {
    @media only screen and (max-width: $break-point) {
        @content;
    }
}

@mixin mid-breaker ($break-point1, $break-point2) {
    @media only screen and (min-width: $break-point1) and (max-width: $break-point2) {
        @content;
    }
}

@mixin break-larger($break-point) {
    @media only screen and (min-width: $break-point) {
        @content;
    }
}

//Size Mixins
@mixin tablet-phone-break() {
    @include break-smaller($tablet-break) {
        @content;
    }
}
@mixin tablet-break() {
    @include mid-breaker($min-tablet-break,$tablet-break) {
        @content;
    }
}
@mixin phone-break() {
    @include break-smaller($nav-break) {
        @content;
    }
}
@mixin phone-break-sm() {
    @include break-smaller($phone-break) {
        @content;
    }
}
