.h1Tag {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
  margin-top: 50px;
}

.equals {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 5em;
  text-align: center;
}

.equalsContainer {
  padding: 5px;
  margin-top: 50px;
}

.function {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

.functionContainer {
  margin-top: 50px;
  vertical-align: center;
}

.carterBlue {
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.carterCapocacciaHeader {
  margin-top: 5px;
}

.functionHr {
  margin-top: 0;
}

.execute {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 5em;
}

.executeContainer {
  text-align: center;
}

.headshot {
  border: 1px solid red;
  border-radius: 100px;
}

.aboutMe {
  font-family: 'Inconsolata', Helvetica, sans-serif;
  border-radius: 100px;
  text-align: center;
  font-size: 1.5em;
}

.aboutMeContainer{
  background-color: #F4F4F4;
  border-radius: 2%;
}

.headlineContainer {
  background-color: #F4F4F4;
}

.navItem {
  display: inline;
  text-align: right;
}

.navList {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: right;
  color: white;
}

.navListContainer {
  margin-top: 10px;
}

.navItemContainer {
  background-color: #252E38;
  border-bottom:5px solid #3498DB;
}

#stravaIcon {
  height: 50px;
  width: 50px;
  margin: 0 5px 0 5px
}

#linkedInIcon {
  height: 50px;
  width: 50px;
  margin: 0 5px 0 5px
}

#twitterIcon {
  height: 50px;
  width: 50px;
  margin: 0 5px 0 5px;
}

#githubIcon {
  height: 50px;
  width: 50px;
  margin: 0 5px 0 0
}

#emailIcon {
  height: 50px;
  width: 50px;
}

.navHref {
  color: #252E38;
}

.h1Container {
  margin-right: 0;
}

.toolboxIconContainer {
  text-align: center;
}

#toolboxList {
  list-style: none;
}

#toolbox {
  max-width: 100%;
}

.toolboxListItem {
  display: inline;
}

.toolboxContainer {
  background-color: #F4F4F4;
  border-radius: 2%;
}

.textToolList {
  text-align: center;
}

#jsIcon {
  height: 53.750px;
  width: 53.750px;
}

#jqueryIcon {
  height: 53.750px;
  width: 53.750px;
}

#nodeIcon {
  height: 53.750px;
  width: 53.750px;
}

#githubIcon2 {
  height: 53.750px;
  width: 53.750px;
}

#phaserIcon {
  height: 53.750px;
  width: 53.750px;
}

#html5Icon {
  height: 53.750px;
  width: 53.750px;
}

.headshot {
  text-align: center;
}

.footer {
  margin-top: 10px;
  text-align: center;
  bottom: 0;
}

.devicons {
  font-family: 'devicons';
}
