.h1Tag {
  font-family: 'Arizonia', Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
  margin-top: 50px;
}

.equals {
  font-family: 'Arizonia', Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
  margin-top: 50px;
}

.function {
  font-family: 'Arizonia', Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
}

.execute {
  font-family: 'Arizonia', Helvetica, sans-serif;
  font-size: 5em;
  text-align: center;
}

.headshot {
  border: 1px solid red;
  border-radius: 100px;
  height: 500px;
  width: 500px;
}

.aboutMe {
  border: 1px solid red;
  border-radius: 100px;
  height: 500px;
  width: 500px;
}

.headlineContainer {

}

.navItem {
  display: inline;
  text-align: right;
}

.navList {
  margin-top: 10px;
  text-align: right;
  color: white;
  font-size: 1em;
}

.navItemContainer {
  background-color: #252E38;
  border-bottom:5px solid #3498DB;
}

#navCarter {
  font-size: 1em;
  text-align: left;
  color: white;
}

#stravaIcon {
  height: 75px;
  width: 75px;
  margin: 5px 5px 0 5px
}

#linkedInIcon {
  height: 75px;
  width: 75px;
  margin: 5px 5px 0 5px
}

#twitterIcon {
  height: 75px;
  width: 75px;
  margin: 5px 5px 0 5px
}

#githubIcon {
  height: 75px;
  width: 75px;
  margin: 5px 5px 0 0
}

#webDevIcon {
  height: 75px;
  width: 75px;
  margin: 5px 5px 0 0;
}
