body {
  margin: 0; }

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 125px; }

.section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 125px;
  -webkit-flex-basis: 21.6666666666666%;
      -ms-flex-preferred-size: 21.6666666666666%;
          flex-basis: 21.6666666666666%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  transition: 0.3s; }
  .section:nth-of-type(1) {
    -webkit-flex-basis: 35%;
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #F5F5F5; }
    .section:nth-of-type(1):hover {
      cursor: pointer;
      background-color: gainsboro; }
    .section:nth-of-type(1) p {
      color: #0F1626; }
  .section-first {
    background-color: #FF533D;
    transition: 0.3s; }
    .section-first p {
      color: #F5F5F5; }
    .section-first:hover {
      cursor: pointer;
      background-color: #ff260a; }
  .section-second {
    background-color: #0F1626;
    transition: 0.3s; }
    .section-second:hover {
      cursor: pointer;
      background-color: #1d2b4b; }
    .section-second p {
      color: #F5F5F5; }
  .section-third {
    background-color: #AB987A;
    transition: 0.3s; }
    .section-third:hover {
      cursor: pointer;
      background-color: #947f5e; }
    .section-third p {
      color: #F5F5F5; }
  .section p {
    margin: 0;
    text-transform: uppercase;
    font-family: Sanchez, sans-serif;
    font-size: 20px;
    letter-spacing: 2px; }

.content {
  display: none;
  position: relative;
  height: 100vh;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .content:after {
    position: absolute;
    top: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(15, 22, 38, 0.7); }
  .content h2 {
    padding-top: 50px;
    font-family: Sanchez, sans-serif;
    z-index: 200;
    color: #F5F5F5;
    font-size: 22px;
    width: 80vw;
    text-align: center;
    margin: 15px 0;
    letter-spacing: 2.5px; }
  .content .tagline {
    font-family: Source Sans Pro, sans-serif;
    color: #F5F5F5;
    z-index: 200;
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 40px;
    width: 80vw;
    text-align: center;
    position: relative; }
    .content .tagline:after {
      content: '';
      height: 2px;
      background-color: #F5F5F5;
      position: absolute;
      width: 10vw;
      left: 44%;
      top: -15px; }

.content-item {
  position: relative;
  z-index: 200; }

.qa {
  z-index: 200;
  width: 70vw; }
  .qa .content-item {
    box-sizing: border-box;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 50px;
    border: 3px solid #F5F5F5;
    margin: 20px 0;
    transition: 0.3s; }
    .qa .content-item:hover {
      cursor: pointer; }
      .qa .content-item:hover .content-item--question:after {
        background-color: #AB987A; }
      .qa .content-item:hover .content-item--question:before {
        background-color: #AB987A; }
    .qa .content-item--question {
      position: relative;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      color: #F5F5F5;
      font-family: Sanchez, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center; }
      .qa .content-item--question:after {
        content: '';
        position: absolute;
        height: 20px;
        width: 2px;
        background-color: #F5F5F5;
        right: -30px;
        transition: 0.3s;
        font-size: 15px;
        color: #F5F5F5; }
      .qa .content-item--question:before {
        content: '';
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        position: absolute;
        height: 20px;
        width: 2px;
        background-color: #F5F5F5;
        right: -30px;
        transition: 0.3s;
        font-size: 15px;
        color: #F5F5F5; }
      .qa .content-item--question.js_arrow_rotate:after {
        content: '';
        position: absolute;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        transition: 0.3s;
        right: -30px;
        font-size: 15px;
        color: #F5F5F5; }
    .qa .content-item--answer {
      display: none;
      color: #F5F5F5;
      font-family: Sanchez, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10px; }

.build_button {
  position: relative;
  z-index: 200;
  width: 70vw;
  height: 50px;
  margin-bottom: 20px;
  background-color: #0F1626;
  color: #F5F5F5;
  text-transform: uppercase;
  border: 3px solid #F5F5F5;
  transition: 0.3s; }
  .build_button:hover {
    cursor: pointer;
    border: 3px solid #AB987A; }

.build_your_own {
  display: none;
  position: relative;
  z-index: 200;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vw; }
  .build_your_own input {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    height: 40px;
    background-color: #0F1626;
    border: 3px solid #F5F5F5;
    color: #F5F5F5;
    font-size: 16px;
    font-family: Sanchez, sans-serif;
    padding-left: 10px; }
    .build_your_own input:focus {
      outline-color: #AB987A; }
    .build_your_own input::-webkit-input-placeholder {
      font-size: 16px;
      font-family: Sanchez, sans-serif;
      color: #F5F5F5; }
    .build_your_own input::-moz-placeholder {
      font-size: 16px;
      font-family: Sanchez, sans-serif;
      color: #F5F5F5; }
    .build_your_own input:-ms-input-placeholder {
      font-size: 16px;
      font-family: Sanchez, sans-serif;
      color: #F5F5F5; }
    .build_your_own input::placeholder {
      font-size: 16px;
      font-family: Sanchez, sans-serif;
      color: #F5F5F5; }
  .build_your_own button {
    font-size: 16px;
    background-color: #0F1626;
    color: #F5F5F5;
    border: 3px solid #F5F5F5;
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
    transition: 0.3s; }
    .build_your_own button:hover {
      cursor: pointer;
      border: 3px solid #AB987A; }
    .build_your_own button:focus {
      outline: none; }

.content-item {
  box-sizing: border-box;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  border: 3px solid #F5F5F5;
  margin: 20px 0;
  transition: 0.3s; }
  .content-item:hover {
    cursor: pointer; }
    .content-item:hover .content-item--question:after {
      color: #0F1626; }

.project {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
  width: 70%; }
  .project .project--item__link {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .project .project--item__link > .background {
      background-size: cover;
      background-repeat: no-repeat; }
  .project--item {
    box-sizing: border-box;
    border: 2px solid #F5F5F5;
    padding: 10px 10px;
    position: relative;
    z-index: 200;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .project--item:hover .project--item__title {
      color: #AB987A;
      transition: 0.3s; }
    .project--item__title {
      color: #F5F5F5;
      font-family: Sanchez, sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      transition: 0.3s; }
    .project--item__description {
      color: #F5F5F5;
      font-family: Source Sans Pro, sans-serif;
      font-size: 16px;
      margin: 0 20px 20px 20px;
      text-align: center; }

.contact {
  width: 70vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border: 2px solid #F5F5F5;
  z-index: 200; }
  .contact .contactItem {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
            flex-grow: 5; }
    .contact .contactItem p {
      margin: 0;
      transition: 0.3s;
      text-transform: uppercase;
      font-size: 18px;
      color: #F5F5F5;
      font-family: Sanchez, sans-serif; }
    .contact .contactItem:hover p {
      transition: 0.3s;
      color: #FF533D; }
    .contact .contactItem a {
      height: 80%;
      width: 80%; }
      .contact .contactItem a img {
        height: 100%;
        width: 100%; }
/*# sourceMappingURL=style.css.map */