$primary-color: #0F1626;
$secondary-color: #AB987A;
$tertiary-color: #FF533D;
$quaternary-color: #F5F5F5;
$black: black;
$primary-font: Helvetica, sans-serif;
$header-item-height: 125px;
$transition-time: 0.3s;

.hidden {
    display: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $header-item-height;
    &--h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 35%;
        background-color: $quaternary-color;
        text-transform: uppercase;
        min-height: $header-item-height;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($quaternary-color, 10%);
        }
        h1 {
            margin: 0;
            color: $black;
            font: $primary-font;
            font-size: 25px;
        }
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $header-item-height;
    flex-basis: 21.6666666666666%;
    background-color: $primary-color;
    transition: $transition-time;
    &:hover {
        cursor: pointer;
        background-color: lighten($primary-color, 10%);
    }
    &-secondary{
        background-color: $secondary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($secondary-color, 10%);
        }
    }
    &-tertiary{
        background-color: $tertiary-color;
        transition: $transition-time;
        &:hover {
            cursor: pointer;
            background-color: darken($tertiary-color, 10%);
        }
    }
    p {
        color: $quaternary-color;
        margin: 0;
        text-transform: uppercase;
    }
}

//content areas
.content {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
        color: $quaternary-color;
        font-size: 22px;
        position: relative;
        &:after {
            bottom: -10px;
            content: '';
            left: 75px;
            height: 2px;
            background-color: $secondary-color;
            position: absolute;
            width: 10%;
        }
    }
    .tagline {
        font-size: 16px;
    }
}